body {
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
} 

button:hover, input#rebalance:hover {
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  font-size: 1rem;
  color: #f1eeee;
}

.header-top {
  text-align: center;
}

.header-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-right {
  padding-right: 30px;
}

.header-left, .header-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tree-inputs, .header-middle, .balance-btns {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: bold;
  justify-content: center;
}

.balance-btns-div {
  justify-content: center;
  margin: .5rem;
}

#main-container {
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  padding: 20px;
}

.tree {
  grid-column: 1/2;
  font-weight: bold;
  font-size: .9rem;
}

.tree-info {
  grid-column: 2/3;
  border: 2px white solid;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  max-height: 600px;
  padding: 25px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  overflow-y: auto;
}

.tree-info-top {
  border-bottom: 2px solid white;
}

.tree-info-title {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: underline;
  text-underline-offset: 0.5em;
  text-decoration-thickness: 3px;
}

.tree-info-stats > p {
  margin-bottom: 0;
}

.input-and-btn input {
  width: 215px;
}

.input-and-btn button {
  width: 120px;
}

.traversals {
  padding-top: 25px;
}

.traversal-text {
  text-align: justify;
  overflow-wrap: break-word;
}

/* Sticky Footer and credit */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 50px;
    gap: 8px;
    font-weight: bold;
}

#github-logo {
    padding-left: 8px;
    padding-right: 8px;
}


/* ########################################## Responsive layout ########################################################*/
/* @media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 650px) {

}

@media only screen and (max-width: 500px) {

    #github-logo>img {
        height: 20px;
        width: 20px;
    }
}

 @media only screen and (max-width: 325px) {

    .footer>p {
        font-size: 14px;
        margin: 8px;
    }
 } */

html {
  visibility: visible;
  opacity: 1;
}